# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env
*.env

# macOS/Linux/Windows system files
.DS_Store
Thumbs.db


# Flask-related cache
instance/
*.bak

# Jupyter notebooks
.ipynb_checkpoints

# VSCode and PyCharm config
.vscode/
.idea/

# Docker
*.tar
docker-compose.override.yml

# OS logs
nohup.out